<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">MicroBlog</a>
        <div class="navbar-collapse justify-content-md-end" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <button class="btn btn-light text-primary fw-bold ms-2" type="submit">Edit news</button>
        </div>
    </div>
</nav>

