<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">MicroBlog</a>
        <div class="navbar-collapse justify-content-md-end" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="button">Search</button>
            </form>
            <button class="btn btn-light text-primary fw-bold ms-2" type="button" routerLink="listallnews">Edit news</button>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 mt-4 justify-content-center">
        <app-card *ngFor="let item of list" [news]="item"></app-card>
    </div>
</div>

