<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">MicroBlog</a>
    </div>
</nav>
<div class="container mt-4">
    <div class="column">
        <article>
            <h1 class="fw-bold text-black-50">Test</h1>
            <h6 class="fw-bold text-secondary opacity-25">20/07/2020</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non fringilla leo. Nulla facilisi. Etiam feugiat, mi non volutpat blandit, diam lectus porttitor lacus, malesuada lacinia dolor turpis vel ante. Etiam scelerisque pharetra nulla, sit amet rutrum nulla ultrices ut. Phasellus at mollis turpis. Praesent scelerisque, nisi ut gravida porttitor, tortor enim commodo nisi, ut scelerisque lorem elit id turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam iaculis at dui sed ornare. Etiam sed dui finibus, pretium turpis nec, vestibulum massa. Mauris cursus viverra nisl ac iaculis. Nulla eleifend odio turpis, ut dictum lectus consectetur at. Maecenas facilisis bibendum sagittis. Praesent pretium eget dui blandit hendrerit. Maecenas vestibulum dolor nulla, sit amet scelerisque nisl tincidunt vel. Vivamus rhoncus sed ante non aliquam.</p>
            <h4 class="fw-bold text-black-50">By Author</h4>
            <h6 class="text-primary">#test #bootstrap #tags</h6>
        </article>
        <hr class="solid">
    </div>
    <div class="column">
        <form action="" class="column">
            <h3 class="fw-bold text-black-50">Comments</h3>
            <div class="mb-3">
                <input type="text" class="form-control" id="inputName" placeholder="Your name here">
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What do you think about this? "></textarea>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Save my comment</button>
            </div>
        </form>
        <hr class="solid">
        <div class="content">
            <div class="card border-0">
                <div class="card-body">
                    <div class="column">
                        <h6 class="fw-bold text-black-50">Author</h6>
                        <p class="p-comment">Nullam iaculis at dui sed ornare. Etiam sed dui finibus, pretium turpis nec, vestibulum massa. Mauris cursus viverra nisl ac iaculis. Nulla eleifend odio turpis, ut dictum lectus consectetur at. Maecenas facilisis bibendum sagittis. Praesent pretium eget dui blandit hendrerit. Maecenas vestibulum dolor nulla, sit amet scelerisque nisl tincidunt vel. Vivamus rhoncus sed ante non aliquam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

